// Mixins Here
.button(@background,@font,@padding){
    background: @background;
    font-size: @font;
    padding: @padding;
    width: inherit;
    text-align: center;
    border-radius: 13px;
        &:hover{
            background: darken(@background,20%);
            color: white;
        }
}

.button-mobile(@background){
    @media @phone{
    background: @background;
    }
} 