// Navigation code here
.navigation{
    background: @wild-sand;
    width: 60%;
    margin: 0 auto;
    h1{
        text-align: center;
        font-size: 3rem;
        padding: 15px;
    }
    nav{
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin: 0 auto;
        a{
            text-decoration: none;
            font-size: 1.3vw;
            color: @river-bend;
            padding: 10px;
        }
    }
}

.header-img{
    background-image: url("/img/main-header.png");
    height: 27vh;
    width: 100%;
    margin: 0 auto;
}